.email .container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}
.email .left{
    text-align: center;
}
.email img{
    width: 300px;
}
.email img:hover{
    transform:scale(1.1);
    transition: 0.5s ease-in-out;
}
.email .right p {
    margin: 1rem 0;
}

@media screen and (max-width:940px) {
    .email .container {
        grid-template-columns: 1fr;
    }
}
